# Copy this content to your .env.local file
# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://muuykkdjswanxszqsdyl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11dXlra2Rqc3dhbnhzenFzZHlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTExMjAwMDIsImV4cCI6MjA2NjY5NjAwMn0.R_e23Q02Hq_U1cAWvicGbGEezMcOmuhcXSktrxbpq2U

# NextAuth Configuration
NEXTAUTH_SECRET=waiverwire2025secretkey
NEXTAUTH_URL=http://localhost:3000

# Database Connection
DATABASE_URL="postgresql://postgres.muuykkdjswanxszqsdyl:yfr.quw6mug6njh8TMY@aws-0-us-east-1.pooler.supabase.com:6543/postgres" 